
.menu-1200-px,
.menu-1200-px * {
  box-sizing: border-box;

 
}
 body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: black;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.menu-1200-px {
  display: flex;
  align-items: center;
  background: #ffffff;
  height: 60px;
  width: 1200px;
  position: relative;
  padding: 0 50px;

}

.moyo-1 {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.nav__header-1 {
  padding-left: 419px;
}

.nav__header-1 ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

.nav__header-1 li {
  margin: 0 12px;
}

.nav__header-1 li:first-child {
  margin-left: 0;
  color: #00ACDC;
}

.nav__header-1 li:last-child {
  margin-right: 0;
  color: #00ACDC;
}
.menu-1024-px {
  display: flex;
  align-items: center;
  background: #ffffff;
  height: 60px;
  width: 1024px;
  position: relative;
  padding: 0 50px;
  color:#000000;

}
.moyo-2 {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.nav__header-2 {
   align-items: flex-end;
   justify-content: flex-end;
   padding-left: 243px;

}

.nav__header-2 ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__header-2 li {
  margin: 0 12px;
}

.nav__header-2 li:first-child {
  margin-left: 0;
  color: #00ACDC;
}

.nav__header-2 li:last-child {
  margin-right: 0;
  color: #00ACDC;
}
.nav-link {
  position: relative;
  display: flex;
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
padding: 0 auto;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.nav-link:hover {
  color: #00acdc;
}

.nav-link:hover::after,
.nav-link.is-active::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 4px;
  background: #00acdc;
  border-radius: 8px;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}